<div>
    <h2>Bienvenue sur le site des jeux olympiques</h2>
    <hr />
</div>
<div class="chartContainer">
    <p class="chartTitle">Medals Per Country</p>
    <div class="subTitle">
        <div class="subContainer">
            <p class="number">Number of JOs </p>
            <p class="number"> {{ listOlympics[0].participations.length }} </p>  
        </div>
        <div class="subContainer">
            <p class="number">Number of Countries </p>
            <p class="number"> {{ listOlympics.length }} </p>  
        </div>
    </div>
    <ngx-charts-pie-chart class="chart" [results]="listPaysCount" [labels]="true" [trimLabels]="false" (select)="goToCountry($event)"></ngx-charts-pie-chart>
</div>
